{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row" style="height:100%;">
                <div class="col-md-6 col-xl-3 ">
                    <div class=" col-md-12 col-xl-12 card grid-margin stretch-card">
                        <div class="card-body">
                            <div class="d-flex flex-row justify-content-between">
                                <h4 class="card-title">범례</h4>
                            </div>
                            <div class="preview-list">
                                <table class="table">
                                    <tr>
                                        <th colspan="2">
                                            <span class="text-primary font-weight-bold">시설</span>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td style="width:20%"><img src="{% static "img/icons/nuclear.png" %}" width="48" height="48" alt=""></td>
                                        <td><span class="text-dark font-weight-bold">원자력 발전소</span></td>
                                    </tr>
                                    <tr>
                                        <td style="width:20%"><img src="{% static "img/icons/factory.png" %}" width="48" height="48" alt=""></td>
                                        <td><span class="text-dark font-weight-bold">산업공장</span></td>
                                    </tr>
                                    <tr>
                                        <td style="width:20%"><img src="{% static "img/icons/missile.png" %}" width="48" height="48" alt=""></td>
                                        <td><span class="text-dark font-weight-bold">군수공장</span></td>
                                    </tr>
                                    <tr>
                                        <td style="width:20%"><img src="{% static "img/icons/school.png" %}" width="48" height="48" alt=""></td>
                                        <td><span class="text-dark font-weight-bold">학교</span></td>
                                    </tr>
                                </table>
                                <table class="table">
                                    <tr>
                                        <th colspan="2">
                                            <span class="text-primary font-weight-bold">IT 장비</span>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td style="width:20%"><img src="{% static "img/icons/PC.png" %}" width="48" height="48" alt=""></td>
                                        <td><span class="text-dark font-weight-bold">PC</span></td>
                                    </tr>
                                    <tr>
                                        <td style="width:20%"><img src="{% static "img/icons/router.png" %}" width="48" height="48" alt=""></td>
                                        <td><span class="text-dark font-weight-bold">Router</span></td>
                                    </tr>
                                    <tr>
                                        <td style="width:20%"><img src="{% static "img/icons/server.png" %}" width="48" height="48" alt=""></td>
                                        <td><span class="text-dark font-weight-bold">Server</span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-12 col-xl-12 card grid-margin stretch-card">
                        <div class="card-body">
                            <div class="d-flex flex-row justify-content-between">
                                <h4 class="card-title">위협 로그</h4>
                            </div>
                            <div class="preview-list">
                                <table class="table" id="tb_threat_log">
                                    <tr>
                                        <td class="text-danger" style="width:50%;">서울 ----------------> 중국</td>
                                        <td><span class="text-summary font-weight-bold">네트워크 이동</span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Maps</h4>
                            {# Map Sector #}
                            <div id="map" class="col-md-12 col-xl-12" style="height:90%;min-height:800px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-3 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body" style="flex:0.01 1;">
                            <h3 class="card-title">김일성 종합대학</h3>
                        </div>
                        <hr style="background-color: white;">
                        <div class="card-body" style="flex:0.05 1;">
                            <h4 class="card-title text-info">주소</h4>
                            <span class="text-dark">조선민주주의인민공화국 평양 직할시 평양</span>
                        </div>
                        <div class="card-body" style="flex:0.05 1;">
                            <h4 class="card-title text-info">위경도</h4>
                            <span class="text-dark">39.058678662262984, 125.76824421680736</span>
                        </div>
                        <div class="card-body" style="flex:0.05 1;">
                            <h4 class="card-title text-info">외부 IP 대역대</h4>
                            <span class="text-dark">175.45.176.0-255</span>
                        </div>
                        <div class="card-body" style="flex:0.05 1;">
                            <h4 class="card-title text-info">내부 IP 대역대</h4>
                            <span class="text-dark">10.240.100.0-255</span>
                        </div>
                        <div class="card-body" style="flex:0.05 1;">
                            <h4 class="card-title text-info">네트워크 구조 가시화</h4>
                            <a class="text-primary" data-toggle="modal" data-target="#detailNetworks" style="cursor:pointer;" >[자세히]</a>
                        </div>
                        <div class="card-body" style="flex:0.05 1;">
                            <h4 class="card-title text-info">기타</h4>
                            <p>
                                <a href='http://www.ryongnamsan.edu.kp/' class="text-primary">http://www.ryongnamsan.edu.kp/</a>
                            </p>
                            <img src="https://img3.yna.co.kr/photo/yna/YH/2016/09/29/PYH2016092927520001300_P4.jpg" alt="" width="100%" >
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- modals -->
        <div class="modal fade" id="detailNetworks" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">김일성 종합대학 네트워크</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--네트워크 접점 및 노드 가시화-->
                        <div id="mynetwork" style="border: 1px solid white; width: 100%; height:600px;background-color:white">
                            <canvas width="100%" height="100%"></canvas>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /modals -->
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->

        <!-- partial -->
    </div>
    <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    {#//test = '[{"vendor": 0, "path": [   [127.2899, 37.63124],   [ 112.0221605275621,  27.4673394037323],   [81.15063376483022, 23.639397214043683], [125.76824421680736, 39.058678662262984]],    "timestamps": [ 1, 100, 200, 300],    "location": ["서울", "중국", "인도", "북한"]  }]'#}
    {#  <script type="text/javascript" src="{% static 'test.json'%}"></script>#}
    <script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script>
        var nodes = null;
        var edges = null;
        var network = null;
        let overlays;
        var DIR = "{% static 'img/refresh-cl/'%}";
        var EDGE_LENGTH_MAIN = 150;
        var EDGE_LENGTH_SUB = 50;
        x = 0
        y = 0
        // Called when the Visualization API is loaded.

        draw(DIR);

        const GoogleMapsOverlay = deck.GoogleMapsOverlay;
        const TripsLayer = deck.TripsLayer;
        const DATA_URL = "{% static 'test.json' %}";
        const JSONS = $.getJSON(DATA_URL)
        {#const LOOP_LENGTH =#}
        let map = null;
        let markers = []
        let markers2 = []
        const VENDOR_COLORS = [
            [255, 0, 0],
            [0, 0, 255], // vendor #1
        ];
        let a;
        hide = null;
        show = null;
        flag = false;
        {# 애니메이션 마커 타겟#}
        const target = [{ lat: 37.63124, lng: 127.2899 }, { lat: 27.4673394037323, lng: 112.0221605275621 }, { lat: 23.639397214043683, lng: 81.15063376483022 }, { lat: 39.058678662262984, lng: 125.76824421680736 }];
        function initMap(listener) {
            // 37.63124, 127.2899 (seoul), 27.4673394037323, 112.0221605275621(후난성), 23.639397214043683, 81.15063376483022(인도 어딘가), 39.058678662262984, 125.76824421680736(김일성종합대학)
            map = new google.maps.Map(document.getElementById("map"), {
                zoom: 4,
                center: target[0],
                {#styles: map_styles,#}
            });


        }
        window.initMap = initMap;
        function ThreatAnimationLayer(){
            overlay = AnimationOverlayView(JSONS.responseJSON)

            overlay.setMap(map);
        }
        setTimeout(function(){
            ThreatAnimationLayer()
        },500)

        aa = setInterval(function(){
            if($('#detailNetworks').hasClass('show')) network.moveTo({ position: {x:0, y:0}, scale:0.8})
            if(network.getViewPosition().x == 0 && network.getViewPosition().y == 0)
                clearInterval(aa);
        },500);

    </script>
{% endblock %}