{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row" style="height:100%;">
                <div class="col-md-6 col-xl-3 ">
                    <div class=" col-md-12 col-xl-12 card grid-margin stretch-card">
                        <div class="card-body">
                            <div class="d-flex flex-row justify-content-between">
                                <h4 class="card-title">범례</h4>
                            </div>
                            <div class="preview-list">
                                <table class="table">
                                    <tr>
                                        <th colspan="2">
                                            <span class="text-primary font-weight-bold">시설</span>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td style="width:20%"><img src="{% static "img/icons/nuclear.png" %}" alt=""></td>
                                        <td><span class="text-light font-weight-bold">원자력 발전소</span></td>
                                    </tr>
                                    <tr>
                                        <td style="width:20%"><img src="{% static "img/icons/nuclear.png" %}" alt=""></td>
                                        <td><span class="text-light font-weight-bold">...</span></td>
                                    </tr>
                                    <tr>
                                        <td style="width:20%"><img src="{% static "img/icons/nuclear.png" %}" alt=""></td>
                                        <td><span class="text-light font-weight-bold">,,,</span></td>
                                    </tr>
                                    <tr>
                                        <td style="width:20%"><img src="{% static "img/icons/nuclear.png" %}" alt=""></td>
                                        <td><span class="text-light font-weight-bold">ddd</span></td>
                                    </tr>
                                </table>
                                <table class="table">
                                    <tr>
                                        <th colspan="2">
                                            <span class="text-primary font-weight-bold">IT 장비</span>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td style="width:20%"><img src="{% static "img/icons/PC.png" %}" alt=""></td>
                                        <td><span class="text-light font-weight-bold">PC</span></td>
                                    </tr>
                                    <tr>
                                        <td style="width:20%"><img src="{% static "img/icons/PC.png" %}" alt=""></td>
                                        <td><span class="text-light font-weight-bold">,,,</span></td>
                                    </tr>
                                    <tr>
                                        <td style="width:20%"><img src="{% static "img/icons/PC.png" %}" alt=""></td>
                                        <td><span class="text-light font-weight-bold">...</span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Maps</h4>
                            {# Map Sector #}
                            <script src="https://maps.googleapis.com/maps/api/js?key={{ m_keys }}&callback=initMap&v=weekly" defer></script>
                            <div id="map" class="col-md-12 col-xl-12" style="height:90%;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-3 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body" style="flex:0.01 1;">
                            <h3 class="card-title">연변 우라늄 농축시설</h3>
                        </div>
                        <hr style="background-color: white;">
                        <div class="card-body" style="flex:0.05 1;">
                            <h4 class="card-title text-info">주소</h4>
                            <span class="text-light">북한 KP 평안 북도 녕변군</span>
                        </div>
                        <div class="card-body" style="flex:0.05 1;">
                            <h4 class="card-title text-info">위경도</h4>
                            <span class="text-light">39.058345, 125.768266</span>
                        </div>
                        <div class="card-body" style="flex:0.05 1;">
                            <h4 class="card-title text-info">외부 IP 대역대</h4>
                            <span class="text-light">175.45.176.0-255</span>
                        </div>
                        <div class="card-body" style="flex:0.05 1;">
                            <h4 class="card-title text-info">내부 IP 대역대</h4>
                            <span class="text-light">10.240.100.0-255</span>
                        </div>
                        <div class="card-body" style="flex:0.05 1;">
                            <h4 class="card-title text-info">네트워크 구조 가시화</h4>
                            <a class="text-primary">[자세히]</a>
                        </div>
                        <div class="card-body" style="flex:0.05 1;">
                            <h4 class="card-title text-info">기타</h4>
                            <p>
                                <a class="text-primary">http://10.240.100.11</a>
                            </p>
                            <img src="https://gdb.voanews.com/9ABB1ED8-D37D-4AA9-A7F5-D91C7A3004BC_w408_r1_s.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
            </div>
        </footer>
        <!-- partial -->
    </div>
    <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            const target = [{ lat: 39.058345, lng: 125.768266 }, { lat: 39.078345, lng: 125.768266 }, { lat: 39.098345, lng: 125.798266 }, { lat: 39.058345, lng: 125.708266 }];
            // The map, centered at Uluru
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 12,
                center: target[0],
                styles: map_styles,
            });
            {# 아이콘 정의 #}
            const icons =  {
                nuclear: {
                    url: "{% static "img/icons/nuclear.png" %}",
                    size: new google.maps.Size(90, 90),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(30, 30),
                },
                n_nuclear: {
                    url: "{% static "img/icons/nuclear_negative.png" %}",
                    size: new google.maps.Size(90, 90),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(30, 30),
                },
                pc: {
                    url: "{% static "img/icons/PC.png" %}",
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                }
            }
            {# 마커 클릭시 텍스트 정의 #}
            const contentString = "<span class='text-black'>test one 2 three</span>";
            const infowindow = new google.maps.InfoWindow({
                content: contentString,
                maxWidth: 200,
            });
            {# 마커 위치 #}
            const markers = [
                new google.maps.Marker({
                    position: target[0],
                    icon: icons['n_nuclear'],
                    map: map,
                }),
                new google.maps.Marker({
                    position: target[1],
                    icon: icons['pc'],
                    map: map,
                }),
                new google.maps.Marker({
                    position: target[2],
                    icon: icons['pc'],
                    map: map,
                }),
                new google.maps.Marker({
                    position: target[3],
                    icon: icons['pc'],
                    map: map,
                })
            ]

            {# 클릭이벤트 추가 #}
            for (i=0;i<4;i++) {
                markers[i].addListener("click", () => {
                    infowindow.open({
                        anchor: markers[i],
                        map,
                        shouldFocus: false,
                    });
                });
            }
            {# 연결정보 선그리기 #}
            const flightPlanCoordinates = [
                { lat: 37.772, lng: -122.214 },
                { lat: 21.291, lng: -157.821 },
                { lat: -18.142, lng: 178.431 },
                { lat: -27.467, lng: 153.027 },
            ];
            const flightPath = new google.maps.Polyline({
                path: target,
                geodesic: true,
                strokeColor: "#FF0000",
                strokeOpacity: 1.0,
                strokeWeight: 2,
            });

            flightPath.setMap(map);
        }
        window.initMap = initMap;
    </script>
{% endblock %}