{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% if ip != "-" %}
    {{ ip }}
{% else %}
    input IP and Click button
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    <input type="text" id="test" name="ip" placeholder="input ip address">
    <button onclick="submit()">click</button>
</form>
<iframe src="http://localhost:5601/app/dashboards#/view/017708e0-a367-11ec-a5ad-391189656492?embed=true&_g=(filters%3A!()%2Cquery%3A(language%3Akuery%2Cquery%3A'')%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-1y%2Cto%3Anow))&hide-filter-bar=true" height="600" width="800"></iframe>
<div id="mynetwork" style="border: 1px solid black; width: 40%; height:600px">
        <canvas width="400" height="600"></canvas>
</div>

<script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<script>

    var nodes = null;
    var edges = null;
    var network = null;

    var DIR = "{% static 'img/refresh-cl/'%}";
    var EDGE_LENGTH_MAIN = 150;
    var EDGE_LENGTH_SUB = 50;
    x = 0
    y = 0
    // Called when the Visualization API is loaded.
    function draw() {
        // Create a data table with nodes.
        nodes = [];

        // Create a data table with links.
        edges = [];

        nodes.push({
            id: 1,
            label: "제1지구사령부",
            x: x+=100,
            y: y+=50,
            image: DIR + "router.png",
            shape: "image",
        });
        nodes.push({
            id: 2,
            label: "Switch",
            x: x+=100,
            y: y+=50,
            image: DIR + "switch.png",
            shape: "image",
        });
        edges.push({ from: 1, to: 2, length: EDGE_LENGTH_MAIN });
        arr = ["169.0.1.16","169.0.1.17","169.0.1.18","169.0.1.19"]
        for (var i = 3; i <= 6; i++) {
            nodes.push({
                id: i,
                label: arr[i-3],
                x: x+=100,
                y: y+=50,
                image: DIR + "pc.png",
                shape: "image",
            });
            edges.push({ from: 2, to: i, length: EDGE_LENGTH_SUB });
        }

        nodes.push({
            id: 101,
            label: "Printer",
            image: DIR + "Hardware-Printer-Blue-icon.png",
            x: x+=100,
            y: y+=50,
            shape: "image",
        });
        edges.push({ from: 2, to: 101, length: EDGE_LENGTH_SUB });

        nodes.push({
            id: 11,
            label: "제1사단",
            x: x+=100,
            y: y+=50,
            image: DIR + "router.png",
            shape: "image",
        });
        nodes.push({
            id: 12,
            label: "Switch",
            x: x+=100,
            y: y+=50,
            image: DIR + "switch.png",
            shape: "image",
        });
        edges.push({ from: 11, to: 12, length: EDGE_LENGTH_MAIN });
        arr = ["169.14.21.16","169.14.21.17","169.14.21.18","169.14.21.19"]
        for (var i = 13; i <= 16; i++) {
            nodes.push({
                id: i,
                label: arr[i-13],
                x: x+=100,
                y: y+=50,
                image: DIR + "pc.png",
                shape: "image",
            });
            edges.push({ from: 12, to: i, length: EDGE_LENGTH_SUB });
        }

        nodes.push({
            id: 1101,
            label: "Printer",
            image: DIR + "Hardware-Printer-Blue-icon.png",
            x: x+=100,
            y: y+=50,
            shape: "image",
        });
        edges.push({ from: 12, to: 1101, length: EDGE_LENGTH_SUB });

        nodes.push({
            id: 104,
            label: "39120",
            x: x+=100,
            y: y+=50,
            image: DIR + "System-Firewall-2-icon.png",
            shape: "image",
        });
        edges.push({ from: 1, to: 104, length: EDGE_LENGTH_SUB });
        edges.push({ from: 11, to: 104, length: EDGE_LENGTH_SUB });

        // create a network
        var container = document.getElementById("mynetwork");
        var data = {
            nodes: nodes,
            edges: edges,
        };
        var options = {};
        network = new vis.Network(container, data, options);
    }

    document.addEventListener("DOMContentLoaded", function(){
        draw()
    });


</script>