{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row" style="height:100%;">
                <div class="col-md-6 col-xl-3 ">
                    <div class=" col-md-12 col-xl-12 card grid-margin stretch-card">
                        <div class="card-body">
                            <div class="d-flex flex-row justify-content-between">
                                <h4 class="card-title">범례</h4>
                            </div>
                            <div class="preview-list">
                                <table class="table">
                                    <tr>
                                        <th colspan="5">
                                            <span class="text-primary font-weight-bold">물리 네트워크 및 보안 장비</span>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td style="width:20%"><img src="{% static "img/refresh-cl/router.png" %}" width="48" height="48" alt=""></td>
                                        <td><span class="text-dark font-weight-bold">라우터</span></td>
                                    </tr>
                                    <tr>
                                        <td style="width:20%"><img src="{% static "img/refresh-cl/switch.png" %}" width="48" height="48" alt=""></td>
                                        <td><span class="text-dark font-weight-bold">스위치</span></td>
                                    </tr>
                                    <tr>
                                        <td style="width:20%"><img src="{% static "img/refresh-cl/firewall.png" %}" width="48" height="48" alt=""></td>
                                        <td><span class="text-dark font-weight-bold">방화벽</span></td>
                                    </tr>
                                    <tr>
                                        <td style="width:20%"><img src="{% static "img/refresh-cl/pc.png" %}" width="48" height="48" alt=""></td>
                                        <td><span class="text-dark font-weight-bold">PC / 노트북</span></td>
                                    </tr>
                                    <tr>
                                        <td style="width:20%"><img src="{% static "img/refresh-cl/server.png" %}" width="48" height="48" alt=""></td>
                                        <td><span class="text-dark font-weight-bold">서버</span></td>
                                    </tr>
                                    <tr>
                                        <td style="width:20%"><img src="{% static "img/refresh-cl/printer.png" %}" width="48" height="48" alt=""></td>
                                        <td><span class="text-dark font-weight-bold">프린터</span></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="preview-list">
                                <table class="table" id="tb_threat_log">
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-9 grid-margin stretch-card" id="mapDiv">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Maps</h4>
                            {# Map Sector #}
                            <div id="mynetwork" style="border: 1px solid white; width: 100%; height:600px;background-color:white">
                                <canvas width="100%" height="100%"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-3 grid-margin stretch-card d-none" id="threatDetailDiv">
                    <div class="card">
                        <div class="card-body">
                            <table class="table" id="tb_threat_log_detail">
                                <tr>
                                    <td colspan="3">위협 트래픽 상세</td>
                                    <td class="text-right"><a href="javascript:closeLogDetail();"><i class="align-middle" data-feather="minus"></i></a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->

        <!-- partial -->
    </div>
    <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <script>

    </script>
    <!-- network logical view javascript -->
    <script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src="{% static 'customs/logical-view-2d.js'%}"></script>
{% endblock %}