{% extends "base.html" %}
{% load static %}
{% block content %}

    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row" style="height:100%;">
                <div class="col-md-6 col-xl-3 ">
                    <div class=" col-md-12 col-xl-12 card grid-margin stretch-card">
                        <div class="card-body">
                            <div class="d-flex flex-row justify-content-between">
                                <h4 class="card-title">위협 로그</h4>
                            </div>
                            <div class="preview-list" style="max-height:800px; overflow: auto;">
                                <table class="table" id="tb_threat_log">
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-9 grid-margin stretch-card" id="mapDiv">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Maps</h4>
                            {# Map Sector #}
                            <div id="map" class="col-md-12 col-xl-12" style="height:90%;min-height:800px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-3 grid-margin stretch-card d-none" id="threatDetailDiv">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-row justify-content-between">
                                <h4 class="card-title">위협 트래픽 상세</h4>
                                <a href="javascript:closeLogDetail();"><i class="align-middle" data-feather="minus"></i></a>
                            </div>
                            <div style="max-height:800px; overflow-y: auto;overflow-x: hidden;">
                                <table class="table" id="tb_threat_log_detail">
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->

        <!-- partial -->
    </div>
    <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    {#//test = '[{"vendor": 0, "path": [   [127.2899, 37.63124],   [ 112.0221605275621,  27.467339403723],   [81.15063376483022, 23.639397214043683], [125.76824421680736, 39.058678662262984]],    "timestamps": [ 1, 100, 200, 300],    "location": ["서울", "중국", "인도", "북한"]  }]'#}
    {#  <script type="text/javascript" src="{% static 'test.json'%}"></script>#}
    <script>
        let overlays;
        let DIR = "{% static 'img/refresh-cl/'%}";
        // Called when the Visualization API is loaded.
        const CSRF = '{% csrf_token %}';
        const GoogleMapsOverlay = deck.GoogleMapsOverlay;
        const TripsLayer = deck.TripsLayer;
        const DATA_URL = "{% static 'test.json' %}";
        const JSONS = $.getJSON(DATA_URL);
        {#const LOOP_LENGTH =#}
        let map = null;
        let markers = []
        let markers2 = []
        const VENDOR_COLORS = [
            [255, 0, 0],
            [0, 0, 255], // vendor #1
        ];
        let a;
        hide = null;
        show = null;
        flag = false;
        const target = [{ lat: 37.63124, lng: 127.2899 }, { lat: 27.4673394037323, lng: 112.0221605275621 }, { lat: 23.639397214043683, lng: 81.15063376483022 }, { lat: 39.058678662262984, lng: 125.76824421680736 }];

        //const temp = [ { lat: 39.058678662262984, lng: 125.76824421680736 }, { lat: 40.058678662262984, lng: 125.76824421680736 }, { lat: 39.058678662262984, lng: 126.76824421680736 }, { lat: 39.158678662262984, lng: 125.76824421680736 },{ lat: 39.858678662262984, lng: 125.06824421680736 },{ lat: 39.77678662262984, lng: 125.00824421680736 },{ lat: 39.058678662262984, lng: 125.76824421680736 },{ lat: 39.058678662262984, lng: 125.76824421680736 }];

        function ThreatAnimationLayer(){
            overlay = AnimationOverlayView(JSONS.responseJSON)
            overlay.setMap(map);
            // 지형정보 가시화를 위한 임시 마커
            //markerShowAll(markers, map)
            //markers = newMarkers(temp.length, temp, temp)
        }

        function initMap(listener) {
            //37.63124, 127.2899 (seoul), 27.4673394037323, 112.0221605275621(후난성), 23.639397214043683, 81.15063376483022(인도 어딘가), 39.058678662262984, 125.76824421680736(김일성종합대학)
            map = new google.maps.Map(document.getElementById("map"), {
                zoom: 4,
                center: target[0],
                {#styles: map_styles,#}
                mapTypeId: 'roadmap'/*"hybrid"*/,
                minZoom:3,
            });
            ThreatAnimationLayer()
        }

        window.initMap = initMap;

    </script>
{% endblock %}