{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row" style="height:100%;">
                <div class="col-md-6 col-xl-3 ">
                    <div class=" col-md-12 col-xl-12 card grid-margin stretch-card">
                        <div class="card-body">
                            <div class="d-flex flex-row justify-content-between">
                                <h4 class="card-title">위협 로그</h4>
                            </div>
                            <div class="preview-list">
                                <table class="table" id="tb_threat_log">
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-9 grid-margin stretch-card" id="mapDiv">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Maps</h4>
                            {# Map Sector #}
                            <div id="map" class="col-md-12 col-xl-12" style="height:90%;min-height:800px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-3 grid-margin stretch-card d-none" id="threatDetailDiv">
                    <div class="card">
                        <div class="card-body">
                            <table class="table" id="tb_threat_log_detail">
                                <tr>
                                    <td colspan="3">위협 트래픽 상세</td>
                                    <td class="text-right"><a href="javascript:closeLogDetail();"><i class="align-middle" data-feather="minus"></i></a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- modals -->
        <div class="modal fade" id="detailNetworks" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">김일성 종합대학 네트워크</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--네트워크 접점 및 노드 가시화-->
                        <div id="mynetwork" style="border: 1px solid white; width: 100%; height:600px;background-color:white">
                            <canvas width="100%" height="100%"></canvas>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /modals -->
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->

        <!-- partial -->
    </div>
    <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    {#//test = '[{"vendor": 0, "path": [   [127.2899, 37.63124],   [ 112.0221605275621,  27.467339403723],   [81.15063376483022, 23.639397214043683], [125.76824421680736, 39.058678662262984]],    "timestamps": [ 1, 100, 200, 300],    "location": ["서울", "중국", "인도", "북한"]  }]'#}
    {#  <script type="text/javascript" src="{% static 'test.json'%}"></script>#}
    <script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script>
        var nodes = null;
        var edges = null;
        var network = null;
        let overlays;
        var DIR = "{% static 'img/refresh-cl/'%}";
        var EDGE_LENGTH_MAIN = 150;
        var EDGE_LENGTH_SUB = 50;
        x = 0
        y = 0
        // Called when the Visualization API is loaded.

        draw(DIR);

        const GoogleMapsOverlay = deck.GoogleMapsOverlay;
        const TripsLayer = deck.TripsLayer;
        const DATA_URL = "{% static 'test.json' %}";
        const JSONS = $.getJSON(DATA_URL);
        {#const LOOP_LENGTH =#}
        let map = null;
        let markers = []
        let markers2 = []
        const VENDOR_COLORS = [
            [255, 0, 0],
            [0, 0, 255], // vendor #1
        ];
        let a;
        hide = null;
        show = null;
        flag = false;
        const target = [{ lat: 37.63124, lng: 127.2899 }, { lat: 27.4673394037323, lng: 112.0221605275621 }, { lat: 23.639397214043683, lng: 81.15063376483022 }, { lat: 39.058678662262984, lng: 125.76824421680736 }];
        const target_2 = [{ lat: 55.76633, lng:37.63332 }, { lat: 27.4673394037323, lng: 112.0221605275621 }, { lat: 22.29579, lng: 114.13927 },  { lat : 37.92935, lng : 126.62565}];
        const target_3 = [{ lat: 51.4510898289427, lng: -1.7277438152626 }, { lat: 27.4673394037323, lng: 112.0221605275621 }, { lat: 22.29579, lng: 114.13927 }, { lat : 39.79758, lng : 125.75486 } ];
        const target_4 = [{ lat: 34.3710341583988, lng: 136.907403270728 }, { lat: 27.4673394037323, lng: 112.0221605275621 }, { lat: 22.29579, lng: 114.13927 }, { lat : 40.95853, lng : 126.60763 }];
        const target_5 = [{ lat: 11.54629, lng: 104.93112 }, { lat : 59.32393, lng : 18.06198  }, { lat: 22.29579, lng: 114.13927 }, { lat : 39.02117, lng : 125.75305 }];
        const target_6 = [{ lat: 14.60311, lng: 120.98620 }, { lat : 37.63124, lng : 127.2899  }, { lat: 36.4795689911018, lng: 117.091754899661 }, { lat: 39.058678662262984, lng: 125.76824421680736 }];
        const target_7 = [{ lat: 30.11246, lng: 31.20469 }, { lat: 46.97053, lng: 7.44797  }, { lat: 55.76633, lng:37.63332 }, { lat: 39.058678662262984, lng: 125.76824421680736 }];
        const target_8 = [{ lat : 41.92704, lng : 12.44452 }, { lat: 38.90535, lng: -77.03427  }, { lat: 55.76633, lng:37.63332 }, { lat : 39.79758, lng : 125.75486 }];
        const target_9 = [{ lat : -35.30468, lng : 149.11818 }, { lat: 38.90535, lng: -77.03427  }, { lat: 55.76633, lng:37.63332 }, { lat : 37.92935, lng : 126.62565 }];
        const target_10 = [{ lat: -29.21951, lng: 26.08857 }, { lat: 38.90535, lng: -77.03427  }, { lat: 55.76633, lng:37.63332 }, { lat : 37.92935, lng : 126.62565 }];
        const target_11 = [{ lat: 45.55459, lng: -75.72917 }, { lat : 59.32393, lng : 18.06198  }, { lat: 55.76633, lng:37.63332 }, { lat : 37.92935, lng : 126.62565 }];
        const target_12 = [{ lat : -41.29896, lng : 174.78678 }, { lat : 34.04533, lng : -118.25571  }, { lat: 55.76633, lng:37.63332 }, { lat : 37.92935, lng : 126.62565 }];
        const target_13 = [{ lat : 59.32393, lng : 18.06198 }, { lat : 34.04533, lng : -118.25571  }, { lat: 22.29579, lng: 114.13927 }, { lat : 40.95853, lng : 126.60763 }];
        const target_14 = [{ lat : -15.68335, lng : -47.80003 }, { lat : 59.32393, lng : 18.06198  }, { lat: 22.29579, lng: 114.13927 }, { lat : 40.95853, lng : 126.60763 }];
        const target_15 = [{ lat : -12.00122, lng : -77.00774 }, { lat :4.74056, lng : -74.04241 }, { lat: 55.76633, lng:37.63332 }, { lat : 40, lng : 127 }];
        const target_16 = [{ lat :59.98176, lng : 10.58528 }, { lat: 38.90535, lng: -77.03427 }, { lat: 55.76633, lng:37.63332 }, { lat : 40, lng : 127 }];

        function initMap(listener) {
            //37.63124, 127.2899 (seoul), 27.4673394037323, 112.0221605275621(후난성), 23.639397214043683, 81.15063376483022(인도 어딘가), 39.058678662262984, 125.76824421680736(김일성종합대학)
            map = new google.maps.Map(document.getElementById("map"), {
                zoom: 4,
                center: target[0],
                {#styles: map_styles,#}
                mapTypeId: "hybrid",
            });
        }

        window.initMap = initMap;
        function ThreatAnimationLayer(){
            overlay = AnimationOverlayView(JSONS.responseJSON)

            overlay.setMap(map);
        }
        setTimeout(function(){
            ThreatAnimationLayer()
        },500)

        aa = setInterval(function(){
            if($('#detailNetworks').hasClass('show')) network.moveTo({ position: {x:0, y:0}, scale:0.8})
            if(network.getViewPosition().x == 0 && network.getViewPosition().y == 0)
                clearInterval(aa);
        },500);
    </script>
{% endblock %}